

.journal__main-content {
    display: flex;
}

.journal__sidebar {
    background-color: $dark-grey;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
}

.journal__sidebar-navbar span {
    margin-left: 10px
}



.journal__sidebar-navbar h3 {
    font-weight: lighten;
}

.journal__new-entry {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    transition: color .3s ease;

    &:hover {
        color: darken($color: white, $amount: 20);
    }
}

.journal__entries {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;
    
}

.journal__entries::-webkit-scrollbar {
    display: none;
  }

.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;

    &:hover {
        background-color: $primary;
        color: white;
    }

    &:active {
        background-color: darken($primary, $amount: 20);
        color: white;
    }

}

.journal__entry-picture {
    width: 25%;
    height: 80px;
    margin: 2px;
    border-radius: 4px;
}

.journal__entry-body {
    height: 60px;
    padding: 10px;
    width: 50%;
}
.journal__entry-title {
    font-size: 14px;
    font-weight: bold;
}
.journal__entry-content {
    font-size: 10px;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.journal__entry-date-box span {
    font-size: 12px;
}