

.nothin__main-content {
    align-items: center;
    background-image: url(../../assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p {
        text-align: center;
    }
}